.Canvas {
    display: block;
    width: 366px;
    height: 473px;
    margin: 0 auto;
    border-top: 5px solid rgb(0, 130, 139);
    border-bottom: 5px solid rgb(0, 130, 139);
    background: transparent;
    box-shadow: 0 0 10px rgb(0, 130, 139);
}

@media (min-width: 1000px) {
    .Canvas {
        margin: 0 auto;
        border: 5px solid rgb(0, 130, 139);
        border-radius: 15px;
    }
}