@media (min-width: 700px) {
    .ListsWrapper {
        display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fill, 33%);
        gap: 3rem 0.5%;
    }
}

.Title {
    grid-column: 1 / -1;
    display: block;
    margin: 0 auto 3rem;
    width: 50vw;
    background: rgb(37, 37, 37);
    position: relative;
    color: grey;
    box-shadow: 0 0 5px rgb(31, 31, 31);
    border-radius: 15px;;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.Title::before {
    content: "";
    height: 1px;
    width: 20vw;
    background-color: grey;
    position: absolute;
    left: -20vw;
    top: 50%;
}

.Title::after {
    content: "";
    height: 1px;
    width: 20vw;
    background-color: grey;
    position: absolute;
    right: -20vw;
    top: 50%;
}

@media (min-width: 700px) {
    .Title {
        margin: 0 auto 0;
        width: 40vw;
    }

    .Title::before {
        width: 20vw;
        left: -20vw;
    }

    .Title::after {
        width: 20vw;
        right: -20vw;
    }

}