.NavigationItems {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
        min-width: 50vw;
    }
}